<div class="gallery container mx-auto mt-5">
  <div class="row text-left">
    <% for( i = 0; i < pics.length ; i++){ %>
    <div class="col-lg-3 col-md-3">
      <div class="thumbnail">
        <%if(locals.user){ %> <% if(test[i] == 1){%>
        <script>
          check = false;
        </script>
        <img
          class="star"
          id="<%=pics[i].id %>"
          src="/images/star.png"
          style="height: 30px; width: 30"
        />
        <span class="like p-10" id="like_<%= pics[i].id %>"> <%=like[i]%></span>

        <%}else{%>
        <img
          class="star"
          id="<%=pics[i].id %>"
          src="/images/star_icon.png"
          style="height: 30px; width: 30"
        />
        <script>
          check = true;
        </script>
        <span class="like p-10" id="like_<%= pics[i].id %>"><%=like[i]%></span>
        <%}}%>

        <a href="/image/<%= pics[i].id %>">
          <img
            src="<%= pics[i].path %>"
            class="img-thumbnail img-fluid mb-4"
            alt="pic"
            style="height: 300px; object-fit: cover"
          />
        </a>
      </div>
    </div>

    <% } %>
  </div>
</div>
