<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body style="background-color: #f5f5f5">
    <%- include ('partials/navbar'); -%>
    <div class="blogs content">
      <% if(articles.length>0){ for(var i = 0; i < articles.length; i++){ %>
      <div class="single">
        <!-- <img src="/images/pics/bird.jpeg" alt="article pic" /> -->
        <h3 class="title"><%= articles[i].title%></h3>
        <p class="" id="arti"><%= articles[i].article%></p>

        <a
          style="float: right"
          href="/art/articles/<%= articles[i].art_id %>"
          class="btn btn-default"
          >read more</a
        >
        <span><%= articles[i].date%></span>
        <%if(num[i]){if(articles[i].art_id == num[i].img_art_id)%>
        <span> <%= num[i].c_num%> comments</span>
        <%}%>
        <span>written by: <%= articles[i].name%> </span>
      </div>

      <% } }else{ %>
      <p>there is no articles</p>
      <% } %>
    </div>
    <div class="container m-5 p-5"></div>

    <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
  </body>
</html>
