<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%>
    <div class="container w-50">
      <form
        class="myform m-5 p-5"
        enctype="multipart/form-data"
        method="POST"
        action="/art/article/form"
      >
        <label> Title: </label>
        <input
          class="form-control"
          placeholder="name"
          type="name"
          name="title"
        />
        <br />
        <label>Article:</label>
        <textarea
          class="form-control"
          rows="5"
          cols="10"
          placeholder="write your article here"
          type="text"
          name="article"
        ></textarea>
        <br />

        <button type="submit" id="log" class="btn btn-default">ADD</button>
      </form>
    </div>
    <div class="container m-5 p-5"></div>

    <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
  </body>
</html>
