<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%>
    <div class="row">
      <div class="col-6">
        <div class="container m-5 p-5">
          <img
            style="
              height: 400px;
              background-position: center;
              background-size: cover;
            "
            src="/<%= photo[0].path %>"
            alt="pic"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="container m-5 p-5">
          <h2>painting info</h2>
          <h3>BY: <%= photo[0].artistname %></h3>
          <h3><%= photo[0].name %></h3>
          <p><%= photo[0].description%></p>
          <% if(userid == photo[0].artist){ %>

          <br />
          <a href="/edit/<%= photo[0].id%>" class="btn btn-primary">Modify </a>
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
          >
            Delete
          </button>
          <% } %>
        </div>
      </div>
    </div>

    <div class="modal" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure you want to delete this picture?</p>
          </div>
          <div class="modal-footer">
            <form
              method="POST"
              action="/delete/<%= photo[0].id %>"
              enctype="multipart/form-data"
            >
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"><%- include ('partials/footer'); -%></footer>
    <%- include ('partials/script'); -%>
  </body>
</html>
