<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%>
    <div class="row">
      <div class="col-lg-5 m-5 p-5">
        <div class="container" style="position: relative">
          <img
            style="height: 400px; object-fit: cover"
            src="/<%= photo[0].path %>"
            alt="pic"
          />
          <%if(locals.user){ %> <% if(test == 1){%>
          <script>
            check = false;
          </script>
          <div class="gallery-shadow" style="padding-left: 20px">
            <img class="star" id="<%=photo[0].id %>" src="/images/star.png" />

            <span class="like" id="like_<%= photo[0].id %>"
              ><%= like.num %></span
            >
          </div>
          <% }else{%>
          <div class="gallery-shadow">
            <img
              style="padding-left: 20px"
              class="star"
              id="<%=photo[0].id %>"
              src="/images/star_icon.png"
            />

            <span class="like" id="like_<%= photo[0].id %>"
              ><%= like.num %></span
            >
          </div>
          <%}%>
          <script>
            check = true;
          </script>

          <%}%>
        </div>
      </div>
      <div class="col-lg-5 m-5 p-5">
        <div class="container">
          <p>
            painting name: <%= photo[0].name %> <br />
            type: <%= photo[0].type %> <br />
            by: <%= photo[0].artistname %> <br />
          </p>
          <a href="/<%= photo[0].path %>" download
            ><img style="width: 30px; height: 30px" src="/images/down.png" />
          </a>
          <% if(locals.user){%> <%if(locals.user.id === photo[0].user_id){ %>

          <a href="/users/edit/<%= photo[0].id%>" class="btn btn-default"
            >Modify
          </a>

          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
          >
            Delete
          </button>
          <% }} %>
        </div>
        <div class="row">
          <div class="col-12"><%- include ('partials/img-form'); -%></div>
        </div>
        <div class="row m-2">
          <div class="col-12"><%- include ('partials/comments'); -%></div>
        </div>
      </div>
    </div>

    <div class="modal" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure you want to delete this picture?</p>
          </div>
          <div class="modal-footer">
            <form
              method="POST"
              action="/delete/<%= photo[0].id %>"
              enctype="multipart/form-data"
            >
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"><%- include ('partials/footer'); -%></footer>
    <%- include ('partials/script'); -%>
  </body>
</html>
