<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#theCarousel" data-slide-to="1"></li>
        <li data-target="#theCarousel" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner" style="height: 400px">
        <div
          class="carousel-item active"
          style="
            height: 400px;
            background-position: center;
            background-size: cover;
            background-image: url('images/ww.jpeg');
          "
        >
          <div class="carousel-caption ml-auto mr-auto">
            <p><h1 >FAMOUS PAINTINGS</h1></p>
          </div>
        </div>
        <div
          class="carousel-item"
          style="
            height: 400px;
            background-position: center;
            background-size: cover;
            background-image: url('images/ss.jpeg');
          "
        ></div>
        <div
          class="carousel-item"
          style="
            height: 400px;
            background-position: center;
            background-size: cover;
            background-image: url('images/sm.jpg');
          "
        >
          <div class="carousel-caption ml-auto mr-auto">
            <p><h1 >NEW ADDED</h1></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <%- include('partials/gallery'); -%>

    <div class="container m-5 p-5"></div>

    <footer class="footer">
      <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
    </footer>
  </body>
</html>
