<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body style="background-color: #f5f5f5">
    <%- include ('partials/navbar'); -%>

    <div
      class="jumbotron jumbotron-fluid"
      style="height: 150px; padding-bottom: 0%; margin-bottom: 0%"
    >
      <h1 class="m-3">MY GALLERY</h1>
    </div>

    <%- include('partials/gallery'); -%>

    <div class="container m-5 p-5"></div>
    <div class="container m-5 p-5"></div>

    <footer class="footer">
      <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
    </footer>
  </body>
</html>
