<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%>

    <div id="jumb" class="container-fluid">
      <div id="jumbSon" class="container float-start row">
        <img
          id="profile"
          class="rounded-circle img-fluid pt-2 col-bg-2 col-sm-8"
          src="/<%= user.profile_pic %>"
          alt="profile-pic"
        />
      </div>
      <div id="jumbSon" class="container float-start col pt-2">
        <a
          style="color: black"
          class="pt-5 mt-5"
          href="/users/profilePic/<%= user.id %>"
          >Edit</a
        >
      </div>
    </div>
    <!-- Nav tabs -->
    <ul
      class="nav nav-tabs justify-content-center nav-fill"
      id="myTab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          My Gallery
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="messages-tab"
          data-bs-toggle="tab"
          data-bs-target="#messages"
          type="button"
          role="tab"
          aria-controls="messages"
          aria-selected="false"
        >
          My Articles
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="settings-tab"
          data-bs-toggle="tab"
          data-bs-target="#settings"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Favorite
        </button>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div
        class="tab-pane active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="gallery container mx-auto mt-5">
          <div class="row text-left">
            <% for( i = 0; i < pics.length; i++){%>

            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="thumbnail m-3">
                <a class="zoom" href="/image/<%= pics[i].id %>">
                  <img
                    id="pic"
                    src="/<%= pics[i].path %>"
                    class="img-thumbnail img-fluid mb-4"
                    alt="pic"
                  />
                </a>
                <%if(locals.user){ if(test[i] == 1){%>
                <script>
                  check = false;
                </script>
                <div class="gallery-shadow">
                  <img
                    class="star"
                    id="<%=pics[i].id %>"
                    src="/images/star.png"
                  />
                  <span class="like p-10" id="like_<%= pics[i].id %>">
                    <% if(like[i]){if(like[i].id == pics[i].id){%>
                    <%=like[i].num%><%}}%></span
                  >
                </div>

                <%}else{%>
                <div class="gallery-shadow">
                  <img
                    class="star"
                    id="<%=pics[i].id %>"
                    src="/images/star_icon.png"
                  />
                  <span class="like p-10" id="like_<%= pics[i].id %>"
                    ><% if(like[i]) {if(like[i].id ==
                    pics[i].id){%><%=like[i].num%><%}}%></span
                  >
                </div>

                <script>
                  check = true;
                </script>

                <%}%>
              </div>
            </div>
            <%}} %>
          </div>
        </div>
      </div>

      <div
        class="tab-pane"
        id="messages"
        role="tabpanel"
        aria-labelledby="messages-tab"
      >
        <div class="blogs content m-5">
          <% if(articles.length>0){ for(var i = 0; i < articles.length; i++){ %>
          <div class="single" href="/art/articles/<%= articles[i].art_id %>">
            <!-- <img src="/images/pics/bird.jpeg" alt="article pic" /> -->
            <h3 class="title"><%= articles[i].title%></h3>
            <p id="arti"><%= articles[i].article%></p>

            <a
              style="float: right"
              href="/art/articles/<%= articles[i].art_id %>"
              class="btn btn-default"
              >read more</a
            >
            <span><%= articles[i].date%></span>
            <%if(num[i]){if(articles[i].art_id == num[i].img_art_id)%>
            <span> <%= num[i].c_num%> comments</span>
            <%}%>
            <span>written by:<%= locals.user.name %></span>
          </div>
          <% } }else{ %>
          <p>add your first article</p>
          <% } %>
        </div>
      </div>
      <div
        class="tab-pane"
        id="settings"
        role="tabpanel"
        aria-labelledby="settings-tab"
      >
        <div class="gallery container mx-auto mt-5">
          <div class="row text-left">
            <% for( i = 0; i < favorite.length ; i++){ %>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="thumbnail m-3">
                <a class="zoom" href="/image/<%= favorite[i].id %>">
                  <img
                    src="/<%= favorite[i].path %>"
                    class="img-thumbnail img-fluid mb-4"
                    alt="pic"
                    id="pic"
                  />
                </a>
                <div class="gallery-shadow">
                  <img
                    class="star"
                    id="<%=favorite[i].id %>"
                    src="/images/star.png"
                    style="height: 30px; width: 30"
                  />

                  <span class="like p-10" id="like_<%= favorite[i].id %>">
                    <%# for(j = 0; j< like.length; j++){if(like[j].id ==
                    favorite[i].id){%> <%#like[j].like_num %></span
                  >
                </div>

                <%# }} %>
              </div>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="container m-5 p-5"></div>

    <footer class="footer">
      <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
    </footer>
  </body>
</html>
