<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ('partials/head'); -%>
  </head>
  <body>
    <%- include ('partials/navbar'); -%> <%- include('partials/gallery'); -%>

    <div class="container m-5 p-5">
      <% if (pics.length == 0){ %>
      <h1 class="m-5 p-5">NO RESULTS</h1>

        <% } %>
      </div>
    </div>
    <div class="container m-5 p-5"></div>

    <footer class="footer">
      <%- include ('partials/footer'); -%> <%- include ('partials/script'); -%>
    </footer>
  </body>
</html>
